:root{
    --cor1: #d6d0f5;
    --cor2: black;
    --cor3: #ccc;
    --cor4: #555;
    --cor5: #384b9d;
    --cor6: white;
    --ff: 'Quicksand', Arial, Helvetica, sans-serif
    
}

body{
    font-family: var(--ff);

    width: 100%;
    height: 100vh;
    background-color: #012271;
    background-image: linear-gradient(#012271, #0238B5, #203669);

}

.container{
    background-color: #1a1a11;

    width: 700px;

    padding: 20px;

    border-radius: 10px;

    color: white;


}

.cen{
    text-align: center;

    padding: 20px;

    font-weight: bolder;

    color: white;

}

header{
    width: 100%;
    height: 70px;

    background: rgb(51,51,51);
    background: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(35,35,35,1) 17%, rgba(26,26,17,1) 100%);

    padding: 10px;

    display: flex;

    justify-content: space-between;

    box-shadow: 0px 5px 20px #000;

}

.logo{
    width: 45px;
    height: 45px;

    border-radius: 10px;

    background-color: white;

    text-align: center;

    font-size: 30px;

    font-weight: bolder;

}

.logo img{
    width: 45px;
    height: 45px;
}

/*/------------------------------------------------------------------/*/

input[type=text] {

    width: 200px;

   padding: 5px;

   border-radius: 10px;

   transition: width 0.4s ease-in-out;
   border: 3px solid var(--cor3);
   -webkit-transition: 0.5s;
   transition: 0.5s;


}

input[type=text]:focus {
    width: 50%;

    border: 3px solid var(--cor4);
}

/*/------------------------------------------------------------------/*/

input[type=email]{
    width: 200px;
    
    border-radius: 10px;

    padding: 5px;

    transition: width 0.4s ease-in-out;
    border: 3px solid var(--cor3);
    -webkit-transition: 0.5s;
    transition: 0.5s;

}

input[type=email]:focus {
    width: 50%;

    border: 3px solid var(--cor4);
}

/*/------------------------------------------------------------------/*/

input[type=tel] {
    width: 200px;
    
    border-radius: 10px;

    padding: 5px;

    transition: width 0.4s ease-in-out;
    border: 3px solid var(--cor3);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

input[type=tel]:focus {
    width: 50%;

    border: 3px solid var(--cor4);
}

/*/------------------------------------------------------------------/*/

input[type=number] {
    width: 200px;
    
    border-radius: 10px;

    padding: 5px;

    border: 3px solid var(--cor3);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

input[type=number]:focus {
    
    border: 3px solid var(--cor4);
}

/*/------------------------------------------------------------------/*/

input[type=password] {
    width: 200px;
    
    border-radius: 10px;

    padding: 5px;

    transition: width 0.4s ease-in-out;
    border: 3px solid var(--cor3);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

input[type=password]:focus {
    width: 50%;

    border: 3px solid var(--cor4);
}

/*/------------------------------------------------------------------/*/

.dropbtn {

    border-radius: 10px;

    background-color: var(--cor5);

    color: white;

    padding: 16px;

    font-size: 16px;

    border: none;
    
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    border-radius: 20px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: var(--cor2);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: var(--cor5);
}

label{
    color: var(--cor2);
}

/*/------------------------------------------------------------------/*/

textarea[id=msg] {
    width: 200px;
    
    border-radius: 10px;

    padding: 5px;

    border: 3px solid var(--cor3);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

textarea[id=msg]:focus {
    
    border: 3px solid var(--cor4);
}

/*/------------------------------------------------------------------/*/

input[type=submit] {

    color: var(--cor2);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-color: var(--cor5);
}

input[type=submit]:hover {
    
    background-color: var(--cor5);
    color: var(--cor3);
    
}

/*/------------------------------------------------------------------/*/

fieldset {
    background-color: #555;

    padding: 20px;

    border-radius: 10px;
}
  
legend {
    background-color: var(--cor5);
    color: white;
    padding: 5px 10px;
}
  
input {
    margin: 5px;
}

label{
    color: white;
}

/*/------------------------------------------------------------------/*/

    
@media screen and (max-width: 600px) {
    
    .col-25, .col-75, input[type=submit] {
    
        width: 100%;
    
        margin-top: 0;
    
    }

    .container{
        background-color: #1a1a11;
    
        width: 400px;
    
        padding: 20px;
    
        border-radius: 10px;
    
        color: white;
    
    
    }

    input[type=email]{
        width: 100%;
        
        border-radius: 10px;
    
        padding: 5px;
    
        /*/transition: width 0.4s ease-in-out;/*/
        border: 3px solid var(--cor3);
        -webkit-transition: 0.5s;
        transition: 0.5s;
    
    }
    
    input[type=password] {
        width: 100%;
        
        border-radius: 10px;
    
        padding: 5px;
    
        /*/transition: width 0.4s ease-in-out;/*/
        border: 3px solid var(--cor3);
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    

    input[type=tel] {
        width: 100%;
        
        border-radius: 10px;
    
        padding: 5px;
    
        
        border: 3px solid var(--cor3);
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    
    input[type=text] {

        width: 100%;
    
       padding: 5px;
    
       border-radius: 10px;
    
       
       border: 3px solid var(--cor3);
       -webkit-transition: 0.5s;
       transition: 0.5s;
    
    
    }
    
}